* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #9dd8f3;
	background-image: linear-gradient(90deg, #a5c7ce 0%, #9face6 100%);
}

.login-container {
	height: 700px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
	position: absolute;
	z-index: 1;
}

.sub-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-title {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	border-bottom: inset;
	padding-bottom: 5px;
}

.user-input,
.user-password {
	border: none;
	border-bottom: 1px solid black;
	padding: 10px;
	outline: none;
	transition: transform 200ms;
}

.user-input:hover,
.user-password:hover {
	transform: translateY(2px);
}

.user,
.password {
	padding: 10px;
}

.user-password {
	margin-bottom: 30px;
}

.login-button {
	padding: 5px;
	border-radius: 10px;
	border: none;
	width: 100px;
	transition: transform 250ms;
	font-weight: bold;
	background-color: transparent;
	color: black;
}

.login-button:hover {
	transform: translateY(5px);
	background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
	color: white;
}

.item-container {
	height: 90%;
	width: 80%;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin:0 10px
}

.dropdown-lists-container {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px;
	margin:10px 0 20px;
	font-weight: bold;
}

.item-list-container {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow-y: auto;
}
.tabs-list-container {
	width: 100%;
	position: sticky;
}

.tabs {
	list-style: none;
	padding: 20px;
	font-weight: bold;
	border-bottom: 1px solid rgb(110, 110, 110);
	margin:0 10px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.items {
	display: flex;
	justify-content: space-between;
	
}

.hidden {
	display:none;
	/* animation: fade-out 1s; */
	/* transition: ease-out;
	transition-property: all;
	transition-duration: 1s; */
}

li {
	list-style-type:none'
}

@keyframes fade-out {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
  }

  @keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

  #lieferanten,
  #gewerk,
  #anwendung {
	border:none;
	outline:none;
  }

  .search-button {
	padding:0 5px;
	border-radius: 5px;
	transform:ease-in;
	background-color: transparent;
	border:none
}

.search-button:hover{
	transition: 0.5s;
	background: linear-gradient(90deg, #90c9be 0%, #9face6 100%);
	color: white;
	font-weight: bold;
	border: none;
}
  .items li {
	/* border:1px solid rgb(199, 199, 199);
	margin:5px;
	border-radius: 10px; */
	list-style: none;
	padding:10px;
  }

  .articles {
	display:flex;
	justify-content: space-between;
	
  }

  .div-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
	transition: ease-in;
	margin-top:10px;
  }

  .div-container:hover {
	background-color: #dadada;
	transition:0.3s;
	font-weight:600;
  }

::-webkit-scrollbar {
	width: 12px;
}
  
::-webkit-scrollbar-track {
	background:transparent
}

::-webkit-scrollbar-thumb {
	background: #5da3af;
	border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
	background: #b4d1d6;

}

