@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1a1e23;
}

#startcontainer {
    width: 800px;
    padding-top: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
}

.breakline {
    height: 5px;
    width: 80px;
    border-radius: 50px;
    border:2px solid rgb(66, 120, 161);
    background-color:rgb(66, 120, 161);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: rgb(254,254,254)
    
}

h2 {
    font-size: 2em;
    text-align: center;
    color:rgb(254,254,254);
    letter-spacing: 0.6px;
}

.logintext {
    letter-spacing: 10px;
}

button {
    margin-top:15px ;
    border-radius: 50%;
    cursor: pointer;
    border: transparent;
}
button:active {
    border: transparent;
}

button:hover {
    border: transparent;
}

.logintext {
    
}


.loginbutton {
    text-align: center;
    
 
}


